@import "../lib/fontawesome/css/all.css";
@import "../lib/source-sans-pro/source-sans-variable.css";
@import "../lib/source-sans-pro/source-sans-pro.css";

/*
Dark Green: rgb(46, 162, 51)
Light Green: rgb(115, 173, 39)
Brown: rgb(163, 141, 91)
Light Grey: rgb(231, 230, 226)
Lighter Light Grey: rgb(237, 236, 233)
Lightest Light Grey: rgb(250, 250, 249)
Dark Grey: rgb(56, 52, 45)
Lighter Dark Grey: rgb(74, 70, 64)
*/

/* TODO: .woosh und .plopp sinnvoll™ ausarbeiten */

:root {
  /* colorz (converted from hsv to hsl, cauz missing in CD document) */
  --color-cd-dark-green: hsla(123, 56%, 41%, 1);
  --color-cd-light-green: hsla(86, 63%, 42%, 1);
  --color-cd-brown-ish: hsla(42, 28%, 50%, 1);
  --color-cd-light-ish: hsla(48, 9%, 90%, 1);
  --color-cd-dark-ish: hsla(38, 11%, 20%, 1);

  --header-height: 4rem;
}

:root, html, body {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0 none;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
}

body {
  background-color: var(--color-cd-light-ish);
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Navbar floating on top */
header {
  background-color: var(--color-cd-dark-ish);
  text-transform: uppercase;
  height: var(--header-height);

  /* make it stick at the top */
  /* or don't do this ... */
  /* position: sticky;
  top: 0; */

  /* let it stay ontop of other fixed content */
  z-index: 200;
  width: 100%;
}

header nav {
  display: flex;
  flex-direction: row;
  height: 100%;
}

header nav .nav-profile {
  margin-left: auto;
}

.topnav a {
  display: inline-block;
  color: var(--color-cd-light-ish);
  text-align: center;
  padding: 0em 1.2em;
  line-height: var(--header-height);
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--color-cd-dark-ish);
}

.topnav a:hover {
  background-color: rgb(74, 70, 64);
  color: var(--color-cd-light-ish);
  border-bottom: 3px solid var(--color-cd-light-green);
}

.topnav a.active {
  background-color: var(--color-cd-light-green);
  color: var(--color-cd-light-ish);
  border-bottom: 3px solid var(--color-cd-light-green);
}

.vflexing {
  flex: 1 0 auto;
}

main {
  margin-top: 60px;
  /*display: flex;*/
  flex-direction: column;
  /* height: 100vh; */
}

main .content {
  /* keep content out of navbar */
  justify-content: top;
  margin-left: 10%;
  margin-right: 10%;
}

.breadcrumb ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb ul > li {
  display: inline-block;
  padding: .2em 0;
}

.breadcrumb ul > li::before {
  content: "›";
  padding: 0 .35em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.wushing {
  width: 100%;
}

/* FANCY TABLE */
table {
  margin: .5em 0;
}
table.fancytbl {
  /* background: var(--color-cd-light-ish); */
  border-collapse: collapse;
  overflow: hidden;
}

table.fancytbl thead {
  position: sticky;
  top: 0;
}

table.fancytbl thead tr {
  height: 2em;
  background-color: var(--color-cd-dark-ish);
}

.fancytbl tbody > tr:nth-last-of-type(2n) {
  background: hsla(0deg,0%,85%,.5);
}

.fancytbl tbody > tr:hover {
  background: hsla(85, 70%, 50%, .5);
}

.fancytbl th, .fancytbl td {
  padding: .2em .25em;
}

table.fancytbl th {
  color: var(--color-cd-light-ish);
  font-weight: 700;
  text-align: left;
  padding: .5em inherit;
}

body table:first-of-type {
  position: relative;
}
body section:first-of-type table:first-of-type::before {
  background-image: url("Biene.svg");
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  content: ' ';
  display: block;
  width: 12rem;
  height: 9rem;
  right: -2rem;
  top: -8rem;
  position: absolute;
  opacity: counter(fist-tables);
}

/* FOOTER */
footer {
  flex-shrink: 0;
  min-height: 120px;
  width: 100%;
  background-color: var(--color-cd-dark-ish);
  color: var(--color-cd-light-ish);
  padding: 2em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

footer div {
  flex: 1 1 0 auto;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  /*background-color: rgb(74, 70, 64);*/
}

footer a {
  color: var(--color-cd-light-ish);
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* SPECIFI CONTENT */
table.titles .shortname {
  text-decoration: underline dotted var(--color-cd-dark-green);
}
