[package]
name = "liberation"
version = "0.1.0"
authors = ["Yoann Kehler <privat@yoann.de>"]
edition = "2018"

[dependencies]
rand = "^0.7"
serde = "^1.0"
serde_derive = "^1.0"
serde_json = "^1.0"
chrono = {version="^0.4", features = ["serde"] }
#actix-web = {git = "https://github.com/actix/actix-web", branch="master"}
actix-web = { version="^1", features=["ssl"] }
awc = "0.2.2"
actix-service = "*"
actix-files = "*"
actix = "*"
failure = "*"
futures = "^0.1"
config = "^0.9"
oauth2 = "2.0.0-beta.3"
url = "^1.0"
url_serde="*"
tokio="*"
jsonwebtoken = "^6"
log = "*"
env_logger = "*"
base64 = "*"
openssl = "^0.10"
mysql = "*"

[dev-dependencies]

[profile.dev]
debug = true
overflow-checks = true

[profile.test]
opt-level = 0
debug = 2
overflow-checks = true

[profile.release]
opt-level = 3
debug = false
overflow-checks = false
