<nav class="topnav">
  {{#pagesLeft}}
    <a class="{{#class}}{{.}} {{/class}}" href="#{{page}}" data-pageId="{{page}}">{{title}}</a>
  {{/pagesLeft}}
    <div class="nav-filler"></div>
  {{#pagesRight}}
    <a class="{{#class}}{{.}} {{/class}}" href="#{{page}}" data-pageId="{{page}}">{{title}}</a>
  {{/pagesRight}}
</nav>
