{{#rpgsystem}}
<section>
<h1>{{ name }} ― Titelliste</h1>
<table class="titles wushing fancytbl">
  <thead>
    <tr>
      <th>Titel</th>
      <th>Sprache</th>
      <th>Verlach</th>
      <th>Jahr</th>
      {{#_AUTHENTICATED}}
        <th>Verfügbarkeit</th>
      {{/_AUTHENTICATED}}
    </tr>
  </thead>
  <tbody>
    {{#titles}}
      <tr data-titleId="{{id}}">
        <td>{{name}}</td>
        <td>{{language}}</td>
        <td>{{publisher}}</td>
        <td>{{year}}</td>
        {{#_AUTHENTICATED}}
          <td>{{available}} / {{stock}}</td>
        {{/_AUTHENTICATED}}
      </tr>
    {{/titles}}
  </tbody>
</table>
</section>
{{/rpgsystem}}
