<section>
  <h1>Systemliste</h1>
  <table class="wushing fancytbl systems">
    <thead>
      <tr>
        <th>System</th>
        <th>Kürzel</th>
      </tr>
    </thead>
    <tbody>
      {{#rpgsystems}}
        <tr data-rpgsystemId="{{id}}">
          <td>{{name}}</td>
          <td>{{shortname}}</td>
        </tr>
      {{/rpgsystems}}
    </tbody>
  </table>
</section>
