<h1>Titelliste</h1>
Your advertisement here!
<table class="titles wushing fancytbl">
  <thead>
    <tr>
      <th>Titel</th>
      <th>System</th>
      <th>Sprache</th>
      <th>Verlach</th>
      <th>Jahr</th>
      <th>Verfügbarkeit</th>
    </tr>
  </thead>
  <tbody>
    {{#titles}}
      <tr data-titleId="{{id}}">
        <td>{{name}}</td>
        <td>
          {{#system.shortname}}<span class="shortname" title="{{system.name}}">{{system.shortname}}</span>{{/system.shortname}}
          {{^system.shortname}}<span class="name">{{system.name}}</span>{{/system.shortname}}
        </td>
        <td>{{language}}</td>
        <td>{{publisher}}</td>
        <td>{{year}}</td>
        <td>{{available}} / {{stock}}</td>
      </tr>
    {{/titles}}
  </tbody>
</table>
